<style>
  .whole{background-image: url("http://previews.123rf.com/images/hatza/hatza1303/hatza130300055/18336339-laboratory-equipment-background-Stock-Vector-science-chemistry-cartoon.jpg")}
</style>

<div class= "whole">

	<div class="page-header">
    <h1><%=@scientist.name%> <small> <%=@scientist.birth%> </small></h1>

<br> <br> <br>
    <div class="col-md-3"> <img src = "<%=@scientist.img_url%>">
		    	</div>

    <h3><%=@scientist.field%> <span class="label label-default"><%=@scientist.location%>/span></h3>

      <div class="col-md-3"> <p><%=@scientist.content%></p>

</div>


<div class="col-md-3"> 
</div>

<div class="col-md-3"> 

</div>		  

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
    60%
   
  </div>
</div> 
</div>

