<style>
  
</style>

<div class= "whole">

	<div class="page-header">
    <h1><%=@scientist.name%> <small> <%=@scientist.birth%> </small></h1>

<br> <br> <br>
    <div class="col-md-3"> <img src = "<%=@scientist.img_url%>">
		    	</div>

    <h3><%=@scientist.field%> <span class="label label-default"><%=@scientist.location%>/span></h3>

      <div class="col-md-3"> <p><%=@scientist.content%></p>

</div>


<div class="col-md-3"> 
</div>

<div class="col-md-3"> 

</div>		  


  </div>
</div> 
</div>




